/* open sans style */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared style */
.text-primary {
  color: rgba(253, 110, 10, 1);
}
.bg-primary {
  background-color: #fff8f3;
}

.dark-2 {
  color: rgba(71, 71, 71, 1);
}
.dark-3 {
  color: rgba(117, 117, 117, 1);
}
.btn-primary {
  background: rgba(253, 110, 10, 1);
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  line-height: auto;
  margin-top: 25px;
  padding: 20px 38px;
  border-radius: 5px;
  border: 0;
}
.btn-secondary {
  font-weight: bold;
  font-size: 20px;
  color: rgba(253, 110, 10, 1);
  line-height: auto;
  background: rgba(255, 248, 243, 1);
  padding: 18px 38px;
  border: 1px solid rgba(253, 110, 10, 1);
  border-radius: 5px;
  margin-left: 10px;
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  line-height: auto;
  color: rgba(24, 24, 24, 1);
  padding-bottom: 20px;
}
.section-description {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: rgba(117, 117, 117, 1);
  padding-bottom: 20px;
}
.text-center {
  text-align: center;
}

/* Header styles */
.header {
  background: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fff8f3;
}

/* nav styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 210px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
  line-height: auto;
}

nav ul {
  list-style: none;
}

nav ul li a {
  font-size: 20px;
  font-weight: 600;
  line-height: auto;
  text-decoration: none;
}

/* Banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
  line-height: auto;
  color: rgba(24, 24, 24, 1);
  margin-top: -40px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 500;
  line-height: auto;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(117, 117, 117, 1);
  margin-top: -40px;
}

.banner-profile-pic {
  max-width: 584px;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 80px;
}
/* about styles */

.about {
  text-align: center;
  padding: 100px 120px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.section-title {
  margin-bottom: 30px;
}
.section-description {
  margin-bottom: 30px;
}
.item-title {
  font-size: 28px;
  font-weight: 900;
}
.item-description {
  font-size: 20px;
  font-weight: 700;
  margin-top: -15px;
}

/* skills  section styles */

.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

/* resume container styles */

.resume-container {
  display: flex;
  gap: 24px;
}
.resume-section-title {
  font-size: 35px;
  font-weight: 800;
  line-height: auto;
}
.resume-column-title {
  font-size: 30px;
  font-weight: bold;
  line-height: auto;
}

.experience-title {
  font-size: 25px;
  font-weight: bold;
  line-height: auto;
  margin-bottom: 0;
}
.experience-sub-title {
  font-size: 20px;
  font-weight: 700;
  /* margin-top: -100px; */
}
.experience-sub-title,
.experience-description {
  color: rgba(117, 117, 117, 1);
}

.resume button {
  display: block;
  margin: 0 auto;
  margin-top: 55px;
}

footer {
  padding: 130px 230px;
  /* margin: 130px 230px; */
  display: flex;
  /* justify-content: space-between; */
  gap: 120px;
}

.footer-section-left {
  width: 50%;
}
.footer-section-right {
  width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
  height: 64px;
  border-radius: 5px;
  background-color: #ffff;
  display: block;
  padding: 10px 350px 10px 30px;
  margin-bottom: 24px;
  border: 0;
}
